body {
    position: relative;
}



#background {
    position: absolute;
    z-index: -1;
}

#background #solid {
    background-color: #009688;
    height: 125px;
    width: 100vw;
}

#background #gradient {
    background: linear-gradient(180deg, rgba(221, 219, 209, 1) 0%, rgba(210, 219, 219, 1) 100%);
    height: calc(100vh - 125px);
    width: 100vw;
}

#container {
    height: 790px;
}

#left {
    width: 460px;
}

#left #user {
    min-height: 60px;
    background-color: #EAEAEA;
    padding: 8px;
    padding-right: 16px;
    border-right: 1px solid #B1B1B1;
}

#left #user img {
    width: 42px;
    border-radius: 50px;
}

#left #user span {
    font-size: 13px;
    user-select: none;
}

#left #user-menu {
    color: #B1B1B1;
}

#left #user-menu i {
    cursor: pointer;
}

#left #user-menu i:hover {
    color: black;
}

#left #notifications {
    height: 72px;
    background-color: #8EDAFC;
    padding: 12px 16px;
    user-select: none;
}

#left #notifications i {
    background-color: white;
    border-radius: 50px;
    color: #8EDAFC;
    padding: 12px 10px;
}

#left #notifications span {
    font-size: 13px;
}

#left #searchbar-container {
    background-color: #FAFAFA;
    height: 42px;
    padding: 8px;
}

#left #searchbar-container i {
    font-size: 11px;
    padding: 8px 24px;
    color: #B2B7B8;
    border-right: none !important;
}

#left #searchbar-container #searchbar {
    width: 100%;
    font-size: 11px;
}

#left #contact-list {
    background-color: white;
    flex-grow: 1;
    overflow-y: auto;
}

#left #contact-list .contact {
    padding: 8px 16px;
    user-select: none;
}

#left #contact-list .contact:not(:last-child) {
    border-bottom: 1px solid #f0f1f3;
}

#left #contact-list .contact:hover {
    background-color: #f7f7f7;
}

#left #contact-list .contact.active {
    background-color: #E9EBEB;
}

#left #contact-list .contact img {
    height: 52px;
    border-radius: 50px;
    aspect-ratio: 1;
}

#left #contact-list .contact .info {
    font-size: 14px;
}

#left #contact-list .contact p {
    font-size: 11px;
    color: #B0B4B6;
}

#left #contact-list .contact .date {
    color: #B0B4B6;
    font-size: 11px;
}

#right {
    width: 1040px;
}

#right #active-contact {
    min-height: 60px;
    background-color: #EAEAEA;
    padding: 8px;
}


#right #active-contact img {
    height: 42px;
    aspect-ratio: 1;
    border-radius: 50px;
}

#right #active-contact .information {
    font-size: 13px;
    color: black;
    user-select: none;
}

#right #active-contact p {
    font-size: 11px;
    color: #9BA0A3;
}

#right #active-contact i {
    color: #B1B1B1;
}

#right #active-contact i:hover {
    color: black;
    cursor: pointer;
}

#right #current-chat {
    flex-grow: 1;
    background-image: url('../img/mine.jpg');
    padding: 48px 84px;
    overflow-y: auto;
}

#right #current-chat .message {
    padding: 12px 16px;
    border-radius: 12px;
    width: 270px;
    position: relative;
}

#right #current-chat .message p {
    font-size: 13px;
    color: black;
    margin-bottom: 4px !important;
}

#right #current-chat .message span {
    font-size: 10px;
    color: #B9BFBB;
    position: absolute;
    bottom: 4px;
    right: 6px;
}

#right #current-chat .message i {
    position: absolute;
    top: 4px;
    right: 4px;
    opacity: 0;
    padding: 8px;
    background-color: inherit;
    border-radius: 50%;
}


#right #current-chat .message:hover i {
    display: inline-block;
    right: 8px;
    opacity: 1;
    transition: .3s ease;
}

#right #current-chat .message:not(:hover) i {
    position: absolute;
    top: 4px;
    right: 4px;
    opacity: 0;
    padding: 8px;
    background-color: inherit;
    border-radius: 50%;
    transition: .3s ease;
}

.dropdown-toggle::after {
    display: none;
}

.message ul {
    font-size: 13px;
    color: #676E71;
}



.message.sent {
    background-color: #D5F9BA;
    align-self: flex-end;
}

.message.received {
    background-color: white;
}

#right #input-control {
    background-color: #F3EEEA;
    min-height: 60px;
    width: 100%;
    padding: 8px 0;
}


#right #input-control #input-message {
    width: 80%;
    color: #676E71;
    height: 100%;
    padding: 12px 16px;
    font-size: 13px;
}

#right #input-control i {
    color: #676E71;
}

#right #input-control i:hover {
    color: black;
    cursor: pointer;
}