body {
    position: relative;
}

#background {
    position: absolute;
    z-index: -1;
}

#background #solid {
    background-color: #009688;
    height: 125px;
    width: 100vw;
}

#background #gradient {
    background: linear-gradient(180deg, rgba(221, 219, 209, 1) 0%, rgba(210, 219, 219, 1) 100%);
    height: calc(100vh - 125px);
    width: 100vw;
}

#container {
    height: 790px;
}

#left {
    width: 460px;
}

#left #user {
    height: 60px;
    background-color: #EAEAEA;
    padding: 8px;
    padding-right: 16px;
    border-right: 1px solid #B1B1B1;
}

#left #user img {
    width: 42px;
    border-radius: 50px;
}

#left #user span {
    font-size: 13px;
}

#left #user-menu {
    color: #B1B1B1;
}

#left #notifications {
    height: 72px;
    background-color: #8EDAFC;
    padding: 12px 16px;
}

#left #notifications i {
    background-color: white;
    border-radius: 50px;
    color: #8EDAFC;
    padding: 12px 10px;
}

#left #notifications span {
    font-size: 13px;
}

#left #searchbar-container {
    background-color: #FAFAFA;
    height: 42px;
    padding: 8px;
}

#left #searchbar-container i {
    font-size: 11px;
    padding: 8px 24px;
    color: #B2B7B8;
    border-right: none !important;
}

#left #searchbar-container #searchbar {
    width: 100%;
    font-size: 11px;
}

#left #contact-list {
    background-color: white;
    flex-grow: 1;
    overflow-y: auto;
}

#left #contact-list .contact {
    padding: 8px 16px;
}

#left #contact-list .contact:not(:last-child) {
    border-bottom: 1px solid #f0f1f3;
}

#left #contact-list .contact:hover {
    background-color: #f7f7f7;
}

#left #contact-list .contact.active {
    background-color: #E9EBEB;
}

#left #contact-list .contact img {
    height: 52px;
    border-radius: 50px;
    aspect-ratio: 1;
}

#left #contact-list .contact .info {
    font-size: 14px;
}

#left #contact-list .contact p {
    font-size: 11px;
    color: #B0B4B6;
}

#left #contact-list .contact .date {
    color: #B0B4B6;
    font-size: 11px;
}

#right {
    width: 1040px;
    position: relative;
}

#right #active-contact {
    height: 60px;
    background-color: #EAEAEA;
    padding: 8px;
}


#right #active-contact img {
    height: 42px;
    aspect-ratio: 1;
    border-radius: 50px;
}

#right #active-contact .information {
    font-size: 13px;
    color: black;
}

#right #active-contact p {
    font-size: 11px;
    color: #9BA0A3;
}

#right #active-contact i {
    color: #B1B1B1;
}

#right #current-chat {
    flex-grow: 1;
    background-image: url('../img/mine.jpg');
}

#right #input-control {
    position: absolute;
    bottom: 0;

    background-color: #F3EEEA;
    height: 60px;
    width: 100%;
}